body {
    display: flex;
    flex-direction: column;
}

h1 {
    font-size: 2.5rem;
    text-align: center;
    margin-top: 75px;
}

.people {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

willow-scoreboard {
    position: absolute;
    top: 0;
}

willow-person {
    flex: 0 1 100%;
}

@media (min-width: 20em) {
    willow-person {
        flex: 0 1 20%;
        margin-left: 5%;
        margin-bottom: 5%;
    }
}

#response {
    font-size: 3rem;
    font-weight: bold;
    position: fixed;
    top: 0;
    right: 0;
}
