
<template>
<style>
    .name {
        display: none;
    }
    img {
        width: 250px;
    }
</style>

  <div>
    <img>
    <div class="name"></div>
  </div>
</template>

<script>
(function(window, document) {

    let thisDoc = (document._currentScript || document.currentScript).ownerDocument;
    let template = thisDoc.querySelector('template').content;

    class PersonElement extends HTMLElement {
        createdCallback() {
          let shadowRoot = this.createShadowRoot();
          let clone = document.importNode(template, true);
          shadowRoot.appendChild(clone);
          this.nameHolder = shadowRoot.querySelector('.name');
          this.imageElement = shadowRoot.querySelector('img');

          if(this.hasAttribute('img')) {
              this.setImage(this.getAttribute('img'));
          }
          if (this.hasAttribute('person-name')) {
              this.setPersonName(this.getAttribute('person-name'));
          }
        }

        attributeChangedCallback(attr, oldVal, newVal) {
            if(attr === 'person-name') {
                this.setPersonName(newVal);
            }
            if(attr === 'img') {
                this.setImage(newVal);
            }
        }

        setImage(value) {
            this.image = value;
            this.imageElement.src = value;
        }

        setPersonName(value) {
            this.personName = value;
            this.nameHolder.textContent = value;
        }
    }


    document.registerElement('willow-person', {
        prototype: PersonElement.prototype
    });
}(window, document));
</script>
