<template>
  <section class="scoreboard">
    <div>
      <b>Total Asked:</b> <span class="asked"></span>
    </div>
    <div>
      <b>Total Correct</b> <span class="correct"></span>
    </div>
    <div>
      <b>Percentage Correct</b> <span class="percentage"></span>
    </div>
    <button type="button">Reset</button>
  </section>
</template>

<script>
(function(window, document) {

    let thisDoc = (document._currentScript || document.currentScript).ownerDocument;
    let template = thisDoc.querySelector('template').content;

    class ScoreboardElement extends HTMLElement {
        createdCallback() {
          let shadowRoot = this.createShadowRoot();
          let clone = document.importNode(template, true);
          shadowRoot.appendChild(clone);

          this.askedHolder = shadowRoot.querySelector('.asked');
          this.correctHolder= shadowRoot.querySelector('.correct');
          this.percentageHolder = shadowRoot.querySelector('.percentage');
          shadowRoot.querySelector('button').addEventListener('click', () => {
              localStorage.setItem('askedAmount', 1);
              localStorage.setItem('correctAmount', 0);
              this.setAsked(1);
              this.setCorrect(0);
          });
          if(this.hasAttribute('asked')) {
              this.setAsked(this.getAttribute('asked'));
          }
          if (this.hasAttribute('correct')) {
              this.setCorrect(this.getAttribute('correct'));
          }
        }

        attributeChangedCallback(attr, oldVal, newVal) {
            if(attr === 'correct') {
                this.setCorrect(newVal);
            }
            if(attr === 'asked') {
                this.setAsked(newVal);
            }
        }

        setAsked(value) {
            this.asked = value;
            this.askedHolder.textContent = value;
            this.updatePercentage();
        }

        setCorrect(value) {
            this.correct = value;
            this.correctHolder.textContent = value;
            this.updatePercentage();
        }

        updatePercentage() {
            if (parseInt(this.asked) === 0) {
                return;
            }
            this.percentageHolder.textContent = Math.round(parseInt(this.correct) / parseInt(this.asked) * 100) + '%';
        }
    }


    document.registerElement('willow-scoreboard', {
        prototype: ScoreboardElement.prototype
    });
}(window, document));
</script>
